* {
    box-sizing: border-box;
}


body {
    background-image: url("terracottabackground.jpeg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Verdana', 'Arial', sans-serif;
}




#header {
    text-align: center;
    width: 100%;
    padding-bottom: 5px;
    border-bottom-color: #FC6017;
    border-bottom-style: solid;
}

#leftnavbar {
    border-style: solid;
    border-width: 2px;
    border-color: lightpink; 
    margin: 10px;
    width: 20%;
    float: left;
    background: rgba(184, 184, 184, 0.3);
}

#mainDiv {
    width: 70%;
    text-align: center;
    border: dotted;
    border-width: 2px;
    border-color: lightpink;
    background: rgba(184, 184, 184, 0.3);
    margin: 10px;
    float: left;
}

#mainlistdiv {
    text-align: left;
}

#footer {
    text-align: center;
    width: 100%;
    padding-bottom: 5px;
    clear: left;
    border-top-style: solid;
    border-top-color: #FC6017;
}

a:link {
  color: #6e2706;
}

a:visited {
    color: mediumvioletred;
}

#published-container {
  display: grid;
  grid-template-areas:
    "title1 title2"
    "work1 work2"
    "desc1 desc2";
  grid-template-columns: auto auto;
    grid-template-rows: 1fr 3fr 2fr;
    column-gap: 20px;
    row-gap: 5px;
    justify-content: space-evenly;
    align-content: center;
}

#published-container div {
    padding: 5px;   
}

#item1{place-self: center;}
#item2{place-self: center;}
#item3{
    place-self:center;
}
#item4{place-self: center;}
#item5{place-self: center;}
#item6{place-self: center;}

.mango-container {
  display: grid;
  grid-template-areas:
    "photo1 about about"
    "likes dislikes ff"
    "photo2 photo3 photo4";
  grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 5px;
    row-gap: 10px;
    justify-content: space-evenly;
    align-content: center;
}

.mango-container div {
    padding: 5px;   
}

.mangolist {
    text-align: left;
}

.box1{place-self: center;}
.box2{place-self: center;
    grid-column: span 2;
    margin-right: 10px;}
.box3{place-self: center;}
.box4{place-self: center;}
.box5{place-self: center;}
.box6{place-self: center;}
.box7{place-self: center;}
.box8{place-self: center;}

iframe {
    border: none;
    place-self: center;
    justify-content: space-evenly;
    margin: 5px;
    width: 300;
    height: 150;
}

#iframediv {
    text-align: center;
}

.about-container {
  display: grid;
  grid-template-areas:
    "list1 pic"
    "list2 pic"
    "list3 pic2"
    "list4 pic2";
  grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 5px;
    row-gap: 10px;
    justify-content: space-evenly;
    align-content: center;
}

.about-container div {
    padding: 5px;   
}

.square1{place-self: center;
        width: 150;
        text-align: left;
        justify-content: left;
        align-content: center;}
.square2{place-self: center;
    grid-row: span 2;
    margin-right: 10px;
    width: 150;}
.square3{place-self: center;
        width: 150;
        text-align: left;
        justify-content: left;
        align-content: center;}
.square4{place-self: center;
        text-align: left;
        width: 150;
        justify-content: left;
        align-content: center;}
.square5{place-self: center;
    grid-row: span 2;
    width: 150;}
.square6{place-self: center;
        text-align: left;
        width: 150;
        justify-content: left;
        align-content: center;}

